body {
    margin: 0;
    background-color: #1B244A;
    color:#EEEEEE;

}

.container {
    display: flex;
    justify-content: space-evenly;
    margin: 68px auto 281px auto;
    align-items: center;
    
}

h1{
    

    margin: 26px auto;
    background-color: #080001;
    padding: 25px ;
    color: #F94F6D;
    
    font-family: Cursed Timer ULiL;
    font-weight: 400;
    font-style: Regular;
    font-size: 90px;
    text-align: center;

    
}

h3{
    font-family: Verdana;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
}

.btn{
    width: 155;
    height: 45;
    top: 271px;
    left: 337px;
    border-radius: 5px;

    
    font-family: Cursed Timer ULiL;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 27.81px;
    letter-spacing: 0%;
    text-align: center;
    color: #9AABD8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.btn_g1{
    margin: 5px;
    width: 155;
    height: 45;
    top: 271px;
    left: 337px;
    border-radius: 5px;
    opacity: 1;
    font-family: Cursed Timer ULiL;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 27.81px;
    letter-spacing: 0%;
    text-align: center;
    color: #9AABD8;
    border: 3px solid #9AABD8;
    background-color: #1B244A;

}

